.ListPage {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;

  gap: 10px;
}

.Header {
  display: flex;
  align-items: center;
  gap: 10px;

  justify-content: space-between;

  padding-left: 10px;
  height: 100px;
  border-bottom: solid 1px #d9d9d9;
}

.Logo {
  display: flex;
  align-items: center;

  gap: 10px;
}

.Logo img {
  width: 80px;
}

.ContactBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px; /* 🔥 아이콘과 글자 간격 */

  padding: 8px 14px;

  background-color: black;
  color: white;

  border: none;
  border-radius: 8px;

  cursor: pointer;

  margin-right: 10px;
}

.Header h1 {
  font-weight: 1000;
}

.SearchMain {
  flex: 1;
  display: flex;
  height: 0;

  gap: 10px;

  position: relative;
}

.Left {
  width: 500px;
  height: 100%;

  display: flex;
  flex-direction: column;

  margin-left: 20px;
}

.ResultHeader {
  margin-bottom: 10px;
}

.ResultHeader h2 {
  font-size: 20px;
  font-weight: 700;
  margin: 0 0 6px 0;
}

.ResultHeader p {
  margin: 0;
  font-size: 13px;
  color: #777;
  line-height: 1.4;
}

.CardList {
  flex: 1;
  overflow-y: auto;
}

.ResultText {
  position: relative;
}

.LastLine {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Right {
  flex: 1;
  display: flex;
  flex-direction: column;

  gap: 10px;

  margin-right: 10px;
}

.MapSection {
  flex: 1;
  position: relative;
  overflow: hidden;
  height: 500px;
}

.Bottom {
  height: 180px;

  display: flex;
  flex-direction: column;
}

.Region {
  display: flex;

  gap: 10px;
}

.Region p {
  margin: 0;

  color: #333;
  font-size: 15px;
}

.Region p:last-child {
  color: #777;
}

.Bottom .EditBtn {
  width: 100px;
  padding: 8px 14px;
  margin: 4px;
  border-radius: 10px;
  border: none;

  background: #333;
  color: white;
  font-weight: bold;
}

.Bottom .CharCount {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.Bottom .CharCount p {
  margin: 0;
}

.RegionWrapper {
  position: relative;
}
.RegionSelect {
  position: absolute;

  bottom: 100%; /* 🔥 버튼 높이만큼 위 */
  left: 0;

  margin-left: 110px; /* 버튼 오른쪽으로 이동 */

  background: white;
  padding: 20px;
  border-radius: 15px;
  border: #d9d9d9d9 solid 1px;

  width: 800px;

  z-index: 9999;
}
.RegionSearchBtn {
  position: absolute;
  top: 10px;
  right: 10px;

  height: 40px;
  border: none;

  background-color: #000; /* 검정 */

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
}

.RegionSelect button {
  width: 80px;
  padding: 6px 14px;
  margin: 4px;
  border-radius: 10px;
  border: none;

  background: #f1f1f1;
  color: #333;
  cursor: pointer;
}

.RegionSelect .ListRegionRow:last-child {
  margin-left: 90px;
}

.RegionSelect button.active {
  background: #333;
  color: white;
  font-weight: bold;
}

.RegionSelect .RegionSearchBtn {
  width: 40px;

  background-color: #000;
  border-radius: 50%;
}

.RegionLabel {
  display: flex;
  align-items: center;
  gap: 6px;
}

.TooltipWrapper {
  position: relative;
  display: inline-flex;
  align-items: center;
  margin-left: 4px;
}

.InfoBtn {
  width: 18px;
  height: 18px;

  display: flex;
  align-items: center;
  justify-content: center;

  background: #fff;
  border: #333 solid 1px;
  border-radius: 50%;
  font-size: 12px;

  cursor: pointer;

  line-height: 1; /* 🔥 추가 */
}

/* 🔥 핵심 */
.Tooltip {
  position: absolute;

  bottom: calc(100% + 8px); /* ? 위로 */
  left: 50%;
  transform: translateX(-50%);

  background: #fff;
  color: #333;

  padding: 8px 12px;
  border-radius: 10px;
  font-size: 14px;

  white-space: nowrap;

  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);

  opacity: 0; /* 🔥 숨김 */
  pointer-events: none;

  transition: 0.2s;

  z-index: 9999;
}
.TooltipWrapper:hover .Tooltip {
  opacity: 1;
}
