.SearchPage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.SearchContainer {
  display: flex;
  flex-direction: column;

  gap: 20px;
}

.HeaderTitle {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.HeaderTitleRow1 {
  display: flex;
  align-items: flex-end;
  gap: 10px;
}

.HeaderTitleRow1 img {
  width: 140px;
}

.HeaderTitleRow1 h1 {
  margin: 0;
  padding-bottom: 10px;

  font-size: 50px;
  font-weight: 1000;
}

.HeaderTitleRow2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 1.2;
}

.HeaderTitleRow2 p {
  font-size: 28px;
  font-weight: 700;

  margin: 0;
}

.HeaderTitleRow2 p:first-child {
  padding-right: 100px;
}

.HeaderTitleRow2 p:last-child {
  padding-left: 100px;
}

.SearchRegionSelect {
  display: flex;
  flex-direction: column;

  align-items: start;

  width: 100%; /* 🔥 추가 */
}

.SearchRegionSelect p {
  font-size: 16px;
  font-weight: 500;

  margin: 0;
  padding-bottom: 5px;
}

.RegionRow {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* 🔥 가운데 정렬 */
}

.SearchRegionSelect button {
  width: 80px;
  padding: 6px 14px;
  margin: 4px;
  border-radius: 10px;
  border: none;
  background: #f1f1f1;
  color: #333;
  cursor: pointer;
}

.PurposeSelect .CharCount {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.PurposeSelect .CharCount p {
  margin: 0;
}

.CheckIcon {
  margin-right: 4px;
  font-size: 12px;
}

.SearchRegionSelect .RegionRow:last-child {
  margin-left: 90px;
}

/* 선택된 버튼 */
.SearchRegionSelect button.active {
  background: #333;
  color: white;
  font-weight: bold;
}

.PurposeSelect {
  display: flex;
  flex-direction: column;

  gap: 10px;
}

.PurposeSelect p {
  font-weight: 500;
  margin: 0;
}

.Input {
  display: flex;
  align-items: center;
  height: 80px;

  border: 1px solid #ddd;
  border-radius: 12px;
  padding: 8px 12px;
  background: #fff;

  position: relative;
  padding: 12px;
}

.SearchInput {
  width: 100%;
  height: 40px;
  overflow: hidden;

  padding: 10px;
  font-size: 16px;

  border: none;
  border-radius: 8px;

  outline: none;
}

/* 버튼 */
.Input button {
  position: absolute; /* ← 핵심 */
  right: 10px;
  bottom: 10px;

  padding: 10px 12px;
  padding-bottom: 8px;

  border-radius: 100%;
  border: none;

  background: #333;
  cursor: pointer;
}

.searchBtn {
  background: black;
  cursor: pointer;
}

.searchBtn.disabled {
  background: #ccc;
}
